.btn-outline-secondary {
    border: 2px solid $white;

    &:focus, &:hover {
        border: 2px solid $accent-color;
        background: $accent-color;
    }
}

.btn-xlg {
    padding: 1rem 4.5rem;
    
    font-size: 1.25rem;
    @include media-breakpoint-up(md)  {
        padding: 1.5rem 6rem;
    }
}
