.our-trainers {
    background: $gray;

    .trainer-title {
        font-size: .875rem;
        font-weight: 700;
        padding-bottom: 1.5rem;
    }

    .card {
        border: none;

        .card-block {
            background: $dark-gray;
            padding: 2rem;
        }
    }
}
