.our-trainers {
    background: $gray;

    .trainer-title {
        font-size: .875rem;
        font-weight: 700;
        padding-bottom: 1.5rem;
    }

    .card {
        border: none;
        max-width: 21.875rem;
        margin: 0 auto;

        @include media-breakpoint-down(md){
            margin-bottom: 2rem;
        }

        .card-block {
            background: $dark-gray;
            padding: 2rem;
        }
    }
}
