.testimonials {
    background: $dark-gray;
    text-align: center;

    &__item {
        @include media-breakpoint-down(md) {
            margin-bottom: 2rem;
        }

        span {
            color: rgba($white, .05);
            font-size: 2rem;
        }
    }

    h4 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}
