// Colors
$gray: #48454c;
$dark-gray: #272a2b;
$blue: #21598b;
$red: #940500;
$green: #1aa27d;
$orange: #d95100;
$white: #f7f8f9;

// Accent
$accent-color: $red;

// Fonts
$font-family-primary: "Roboto", sans-serif;
$font-family-secondary: "Raleway", sans-serif;
$font-family-special: "Syncopate", sans-serif;

$font-family-body: $font-family-primary;
$font-family-headers: $font-family-secondary;
$font-family-logo: $font-family-special;
